@import './variables';

:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  color: $black;
  background-color: $white;
  padding-top: 60px;
  @media (min-width: $desktop-breakpoint){
    padding-top: 77px;
  }
}

.mobile-only {
  @media (min-width: $desktop-breakpoint) {
    display: none!important;
  }
}
.desktop-only {
  @media (max-width: $desktop-breakpoint) {
    display: none!important;
  }
}

a {
  text-decoration: none;
}

ol, ul {
	list-style: none;
}

#root {
  height: 100%;
  
}

.container {
  @media (min-width: $desktop-breakpoint){
    max-width: 1440px;
    margin: 0 auto;
  }
}