@import '../../sassStyles/_variables.scss';

.section-what-do-here {
    padding: 0 2.5rem 0 3.5rem;
    margin-top: 13rem;

    @media (min-width: $desktop-breakpoint) {
        padding: 8rem 2.3rem 8rem 3.4rem;
    } 


    h2 {
        text-transform: uppercase;
        text-align: center;
        margin: 5rem 0;

        @media (min-width: $desktop-breakpoint) {
            margin-bottom: 12rem;
        }
    }

    .container {
       display: grid;
       grid-template-rows: auto auto auto;
        @media (min-width: $desktop-breakpoint) {
            grid-template-columns: auto auto auto;
            grid-template-rows: none;
        } 

        article + article {
            margin-top: 10rem;
            
            @media (min-width: $desktop-breakpoint) {
                margin-top: 0;
            } 
        }

        .the-best {
            display: flex;
            align-items: center;

            @media (min-width: $desktop-breakpoint) {
                flex-direction: column;
                text-align: center;
                width: 30rem;
                height: 30rem;

            } 

            &__icon {
                width: 5.4rem;
                height: 5.4rem;
                margin-right: 5.2rem;

                @media (min-width: $desktop-breakpoint) {
                    width: 7.5rem;
                    height: 8rem;
                    margin-right: 0;
                    margin-bottom: 5rem;
                }

            }

            &__text-wrapper {
                width: 25rem;
            }
        }

        .info {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;

            @media (min-width: $desktop-breakpoint) {
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 30rem;
                height: 30rem;
            } 

            &__icon {
                width: 7.3rem;
                height: 5.3rem;
                margin-left: 5rem;

                @media (min-width: $desktop-breakpoint) {
                    width: 11rem;
                    height: 5.5rem;
                    margin-left: 0;
                    margin-bottom: 5rem;
                } 
            }

            &__text-wrapper {
                width: 20rem;
            }
        }

        .your-list {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;

            @media (min-width: $desktop-breakpoint) {
                width: 30rem;
                height: 30rem;
            } 

            &__icon {
                width: 8.4rem;
                height: 7.8rem;
                margin-bottom: 5rem;

                @media (min-width: $desktop-breakpoint) {
                    width: 10rem;
                    height: 8.5rem;
                } 
            }

            &__text-wrapper {
                width: 36rem;
            }
        }
    }

}
