$white: #FFFFFF;
$anime-title:#585858;
$bg-info: #E5E5E5;
$bg-anime-card-primary: #F1F1F1;
$bg-anime-card-secondary: #CFCFCF;
$anime-card-line-primary: #E4E3E2;
$anime-card-line-secondary: #A5A5A5;
$bg-footer: #494949;
$gutter-spacing: 11rem;
$section-spacing: 8rem;
$desktop-breakpoint: 1024px;
